<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
<style>
  * {
    font-family: 'Roboto', sans-serif;
  }
  h5 {
    margin:1px;
  }
  .signatures > p {
    width:100%;
    border-bottom:1px solid black;
  }
    .title {
    text-align:center;
    margin-top:4px;
    margin-bottom:3px;
  }
  .component {
    float:left;
    text-align:center;
  }
  .package-terms {
    margin-top:5px;
  }
  .underlined {
    text-decoration:underline
  }
  p {
    margin:0px;
  }
  .alwaysbreak { page-break-before: always; }
  .nobreak { page-break-inside: avoid; }
  .row {
    width: 100%;
    box-sizing: border-box;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1px;
  }
  .column-100 { width:100%; }
  .column-50 { width: 50%; }
  .column-33 { width: 33%; }
  .column-66 { width: 66%; }
  .column-25 { width: 25%; }
  .column-10 { width:10%; }
  .column-15 { width: 15%; }

  /* ------------------------------- */

  .page {
    padding:8px !important;
    width: 100%;
    box-sizing: border-box;
    page-break-before: always;
  }

  header img {
    width: 100%;
  }

  header h1 {
    margin: 0;
  }

  header p {
    margin-bottom: 0;
  }

  header .column {
    text-align: center;
    text-transform: uppercase;
  }

  .legal-text {
    font-size: 8px;
  }

  .form-blocks {
    padding: 0;
    list-style-type: none;

  }
  .form-blocks > li {
    background-color: #f1f1f1;
    border: 1px solid #000;
    border-bottom: none;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
  }
  .form-blocks > li:last-child {
    border-bottom: 1px solid #000;
  }

  .form-blocks h4 {
    margin: 0;
    text-transform: uppercase;
  }
  .fields .column {
    border-bottom: 1px solid black;
    overflow: visible;
    margin: 2px 0;
    white-space: nowrap;
  }
  .fields .column span {
    background-color: #f1f1f1;
    padding: 4px 0;
    left: -1px;
    position: relative;
    text-transform: uppercase;
    font-size: 60%;
  }
  .form-blocks > li.notice {
    background-color: #fff;
    font-size: 10px;
  }
  .form-blocks > li.legal-text {
    background-color: #fff;
    font-size: 10px;
  }
  .form-blocks > li.package {
    background-color: #fff;
    border-top-style: dashed;
  }
  .form-blocks > li.package p, .form-blocks > li.package ol {
    font-size: 10px;
  }
  .form-blocks > li.package ol {
    padding-left: 20px;
  }

    .signatures{
    margin-top:3px;
  }
  .form-blocks > li.package h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
  }

  .options {
    display: block;
    padding: 0 35px;
  }

  .option {
    list-style-type: none;
    font-size: 10px;
    position: relative;
    padding-left: 15px;
    margin: 2px 0;
  }

  .option:after {
    content: '';
    border: 1px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .option.selected:after {
    background-color: #000;
  }

  .terms-and-conditions {
    font-size: 8px;
  }

  .terms-and-conditions h1 {
    text-align: center;
  }
  .terms-and-conditions ul {
    padding-left: 12px;
  }
</style>

<div class="page">
  <header>
    <div class="row">
      <div class="column column-33">
        <img src="<%= image_url('logo.png') %>" %>
      </div>
      <div class="column column-66">
        <h3>Service Contract</h3>
        <p style='font-size:15px;'>Date: <%= contract.purchased_on ? contract.purchased_on.strftime('%m/%d/%Y') : '' %>  Contract #  <%=  contract.contract_number   %></p>
      </div>
    </div>
  </header>
  <div>
    <ul class="form-blocks">
      <li class="notice">
        YOU MUST CALL THE ADMINISTRATOR FIRST; NO REPAIR OR INSPECTION COSTS WILL BE PAID WITHOUT PRIOR
        AUTHORIZATION! FOR CLAIMS CALL: 1-833-FSA-PLAN. FAX: 801-704-7075
      </li>
      <li class="fields">
        <h5 style='text-align:center'>CUSTOMER INFORMATION</h5>
        <div class="row">
          <div class="column column-50"><span>Last Name</span> <%= contract.last_name %></div>
          <div class="column column-50"><span>First Name</span> <%= contract.first_name %></div>
        </div>
        <div class="row">
          <div class="column column-50"><span>Address</span> <%= contract.address_lines %></div>
          <div class="column column-25"><span>City</span> <%= contract.city %></div>
          <div class="column column-15"><span>State</span><%= contract.state%></div>
          <div class="column column-10"><span>Zip</span> <%= contract.zip %></div>
        </div>
        <div class="row">
          <div class="column column-33"><span>Home #</span> <%= number_to_phone contract.home_number, area_code: true %></div>
          <div class="column column-33"><span>Work #</span> <%= number_to_phone contract.work_number, area_code: true %></div>
          <div class="column column-33"><span>Mobile #</span> <%= number_to_phone contract.mobile_number, area_code: true %></div>
        </div>
      </li>
      <li class="fields">
        <h5 style='text-align:center'>DEALERSHIP/PLACE OF PURCHASE</h5>
        <div class="row">
          <div class="column column-50"><span>Name</span> <%= contract.dealership.name %></div>
          <div class="column column-50"><span>Representative</span> <%= contract.created_by.name %></div>
        </div>
        <div class="row">
          <div class="column column-50"><span>Address</span> <%= contract.dealership.address_lines %></div>
          <div class="column column-25"><span>City</span> <%= contract.dealership.city %></div>
          <div class="column column-15"><span>State</span> <%= contract.dealership.state %></div>
          <div class="column column-10"><span>Zip</span> <%= contract.dealership.zip %></div>
        </div>
        <div class="row">
          <div class="column column-50"><span>Phone</span> <%= number_to_phone contract.dealership.phone, area_code: true %></div>
          <div class="column column-50"><span>Lien Holder</span> <%= '' %></div>
        </div>
      </li>
      <li class="fields">
        <h5 style='text-align:center'>VEHICLE INFORMATION</h5>
        <div class="row">
          <div class="column column-33"><span>Year</span> <%= contract.year %></div>
          <div class="column column-33"><span>Make</span> <%= contract.make %></div>
          <div class="column column-33"><span>Model</span> <%= contract.model %></div>
        </div>
        <div class="row">
          <div class="column column-33"><span>Stock #</span> <%= contract.stock_number %></div>
          <div class="column column-33"><span>VIN</span> <%= contract.vin %></div>
          <div class="column column-33"><span>Mileage</span> <%= number_with_delimiter contract.odometer %></div>
        </div>
      </li>
      <% contract.cached_template.packages.sort_by{|p| p.order}.each do |package| %>
        <li class="package">
          <h4><%= package.name %> Package</h4>

          <div class="row options">
            <% package.coverages.sort_by{|c| c.order}.in_groups_of(package.coverage_caveats? ? 1 : 2).each do |coverages| %>
              <div class="row">
                <% coverages.compact.each do |coverage| %>
                  <div class="option column <%= 'selected' if coverage.id == contract.coverage_id %> <%= 'column-50' unless package.coverage_caveats? %>">
                    <%= term_in_months_or_years coverage.length_in_months.months %><%=
                    if coverage.limit_in_miles.blank?
                    ' / unlimited mileage service'
                    else
                      " or#{coverage.up_to ? content_tag(:span, " up to", class: 'underlined') : ''} #{
                        number_with_delimiter coverage.limit_in_miles
                      } miles (whichever comes first). #{coverage.caveat}"
                    end %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% package.addons.each do |addon| %>
              <div class="option <%= 'selected' if contract.addon_ids.include?(addon.id) %> column column-50">
                <%= addon.name %> <%= ['=', "$" + format('%.2f', addon.cost_in_cents / 100)].join(' ') if addon.cost_in_cents.present? %>
              </div>
            <% end %>
          </div>

          <%= markdown.render((package.terms || '').strip).html_safe %>
        </li>
      <% end %>
      <li class='fields'>
        <div class='row'>
          <div class='column column-100' style='height:17px;position:relative'>
            <span style='position:absolute;padding:2px 0;'>Service Contract Selling Price</span>
            <span style='position:absolute;left:50%;text-align:center;padding:2px 0;bottom:15%;font-size:12px;'> <%= format('%.2f', contract.price) %> </span>
          </div>
        </div>
      </li>
    </ul>
      <p class="legal-text">
        The issuing Dealer/Producer/Obligator agrees, subject to the terms and conditions listed, that during the service contract period it will make repairs and/or replace defective parts or authorize repairs at approved repair facilities for covered parts when a Mechanical Breakdown has occurred. A covered mechanical breakdown is defined as a listed covered part failing to perform the function in which it was designed to perform. We reserve the right to use “New”, “Used” or “Re-manufactured” parts and this decision is at the sole discretion of the Administrator. FSA LLC is only the administrator of this service contract. The Dealer/Provider/Obligator is responsible for providing payment to FSA LLC which will be used to pay all valid claims. The Dealer/Provider/Obligator guarantees there will be sufficient funds to cover any and all valid claims.
      </p>
      <p class="legal-text">
        I have read both pages of this document and agree to all the terms and conditions listed herein. I understand additional coverage is available for my vehicle and has been offered to me.
      </p>
      <br />
      <div class='signatures' style='width:49%;font-size:10px;float:left'>
        <p><span>Customer Signature</span></p>
        <br />
        <p><span>Date<span/></p>
      </div>
      <div class='signatures column-50' style='font-size:10px;float:right'>
        <p><span>Dealer Signature</span></p>
        <br/>
        <p><span>Date</span></p>
    </div>
</div>
<div class="page terms-and-conditions">
          <%= markdown.render((contract.terms || '').strip).html_safe %>
</div>
