<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
<style>
  * {
    font-family: 'Roboto', sans-serif;
  }

  .row {
    width: 100%;
    box-sizing: border-box;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1px;
  }
  .column-50 {
    width: 50%;
  }
  .column-33 {
    width: 33%;
  }
  .column-66 {
    width: 66%;
  }
  .column-25 {
    width: 25%;
  }

  /* ------------------------------- */

  .page {
    width: 100%;
    box-sizing: border-box;
  }

  header img {
    width: 100%;
  }

  header h1 {
    margin: 0;
  }

  header p {
    margin-bottom: 0;
  }

  header .column {
    text-align: center;
    text-transform: uppercase;
  }

  .legal-text {
    font-size: 10px;
  }

  .form-blocks {
    padding: 0;
    list-style-type: none;

  }
  .form-blocks > li {
    background-color: #f1f1f1;
    border: 1px solid #000;
    border-bottom: none;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
  }
  .form-blocks > li:last-child {
    border-bottom: 1px solid #000;
  }

  .form-blocks h4 {
    margin: 0;
    text-transform: uppercase;
  }
  .fields .column {
    border-bottom: 1px solid black;
    overflow: visible;
    margin: 2px 0;
    white-space: nowrap;
  }
  .fields .column span {
    background-color: #f1f1f1;
    padding: 4px 0;
    left: -1px;
    position: relative;
    text-transform: uppercase;
    font-size: 60%;
  }
  .form-blocks > li.notice {
    background-color: #fff;
    font-size: 12px;
  }
  .form-blocks > li.legal-text {
    background-color: #fff;
    font-size: 12px;
  }
  .form-blocks > li.package {
    background-color: #fff;
    border-top-style: dashed;
  }
  .form-blocks > li.package p, .form-blocks > li.package ol {
    font-size: 10px;
  }
  .form-blocks > li.package ol {
    padding-left: 20px;
  }
  .form-blocks > li.package h5 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  .options {
    display: block;
    padding: 0 35px;
  }

  .option {
    list-style-type: none;
    font-size: 10px;
    position: relative;
    padding-left: 15px;
    margin: 2px 0;
  }

  .option:after {
    content: '';
    border: 1px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .option.selected:after {
    background-color: #000;
  }
</style>

<div class="page">
  <header>
    <div class="row">
      <div class="column column-33">
        <img src="<%= image_url('logo.png') %>" %>
      </div>
      <div class="column column-66">
        <h1>Service Contract</h1>
        <p>Date __________________  Contract # __________________</p>
      </div>
    </div>
  </header>
  <div>
    <ul class="form-blocks">
      <li class="notice">
        YOU MUST CALL THE ADMINISTRATOR FIRST; NO REPAIR OR INSPECTION COSTS WILL BE PAID WITHOUT PRIOR
        AUTHORIZATION! FOR CLAIMS CALL: 1-833-FSA-PLAN.
      </li>
      <li class="fields">
        <h4>Customer Information</h4>
        <div class="row">
          <div class="column column-50"><span>Last Name</span> <%= contract.last_name %></div>
          <div class="column column-50"><span>First Name</span> <%= contract.first_name %></div>
        </div>
        <div class="row">
          <div class="column column-50"><span>Address</span> <%= contract.address_lines %></div>
          <div class="column column-25"><span>City</span> <%= [contract.city, contract.state].join(', ') %></div>
          <div class="column column-25"><span>Zip</span> <%= contract.zip %></div>
        </div>
        <div class="row">
          <div class="column column-33"><span>Home #</span> <%= contract.home_number %></div>
          <div class="column column-33"><span>Work #</span> <%= contract.work_number %></div>
          <div class="column column-33"><span>Mobile #</span> <%= contract.mobile_number %></div>
        </div>
      </li>
      <li class="fields">
        <h4>DEALERSHIP/PLACE OF PURCHASE</h4>
        <div class="row">
          <div class="column column-50"><span>Name</span> <%= contract.dealership.name %></div>
          <div class="column column-50"><span>Representative</span> <%= contract.created_by.name %></div>
        </div>
        <div class="row">
          <div class="column column-50"><span>Address</span> <%= contract.dealership.address_lines %></div>
          <div class="column column-25"><span>City</span> <%= [contract.dealership.city, contract.dealership.state].join(', ') %></div>
          <div class="column column-25"><span>Zip</span> <%= contract.dealership.zip %></div>
        </div>
        <div class="row">
          <div class="column column-33"><span>Home #</span> <%= contract.home_number %></div>
          <div class="column column-33"><span>Work #</span> <%= contract.work_number %></div>
          <div class="column column-33"><span>Mobile #</span> <%= contract.mobile_number %></div>
        </div>
      </li>
      <li class="fields">
        <h4>VEHICLE INFORMATION</h4>
        <div class="row">
          <div class="column column-33"><span>Year</span> <%= contract.year %></div>
          <div class="column column-33"><span>Make</span> <%= contract.make %></div>
          <div class="column column-33"><span>Model</span> <%= contract.model %></div>
        </div>
        <div class="row">
          <div class="column column-33"><span>Stock #</span> <%= '' %></div>
          <div class="column column-33"><span>VIN</span> <%= contract.vin %></div>
          <div class="column column-33"><span>Mileage</span> <%= number_with_delimiter contract.odometer %></div>
        </div>
      </li>
      <li class="legal-text">
        This Limited Service Contract takes effect upon the sale of the above listed vehicle for a period of time or mileage of:
      </li>
      <% contract.template.packages.each do |package| %>
        <li class="package">
          <h5><%= package.name %> Package</h5>

          <div class="row options">
            <% package.coverages.in_groups_of(package.has_coverage_caveats? ? 1 : 2).each do |coverages| %>
              <div class="row">
                <% coverages.compact.each do |coverage| %>
                  <div class="option column <%= 'selected' if coverage == contract.coverage %> <%= 'column-50' unless package.has_coverage_caveats? %>">
                    <%= term_in_months_or_years coverage.length_in_months.months %> or <%= number_with_delimiter coverage.limit_in_miles %> (whichever comes first). <%= coverage.caveat %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% package.addons.each do |addon| %>
              <div class="option <%= 'selected' if contract.addons.include?(addon) %> column column-50">
                <%= addon.name %> <%= ['-', number_to_currency(addon.amount_in_dollars)].join(' ') if addon.amount_in_dollars.present? %>
              </div>
            <% end %>
          </div>

          <%= markdown.render((package.terms || '').strip).html_safe %>
        </li>
      <% end %>
    </ul>
    <p class="legal-text">
      The issuing Dealer/Producer/Obligator agrees, subject to the terms and conditions listed, that during the service contract period it will make repairs and/or replace defective parts or authorize repairs at approved repair facilities for covered parts when a Mechanical Breakdown has occurred. A covered mechanical breakdown is defined as a listed covered part failing to perform the function in which it was designed to perform. We reserve the right to use “New”, “Used” or “Re-manufactured” parts and this decision is at the sole discretion of the Administrator. FSA LLC is only the administrator of this service contract. The Dealer/Provider/Obligator is responsible for providing payment to FSA LLC which will be used to pay all valid claims. The Dealer/Provider/Obligator guarantees there will be sufficient funds to cover any and all valid claims.
    </p>
    <p class="legal-text">
      I have read both pages of this document and agree to all the terms and conditions listed herein. I understand additional coverage is available for my vehicle and has been offered to me.
    </p>
    <p>
      Customer Signature _________________________________________________________________________ Date _______________________________
      Dealer Signature ___________________________________________________________________________ Date _______________________________
    </p>
  </div>
</div>
